<div class="banner-section">
    <!--banner-start-->
    <div class="banner-area">
          <div class="container">
                <div class="banner-main">
                      <div class="banner-top">
                            <h4>DOUR TEAM</h4>
                            <img src="./assets/images/brand/svg/separator.svg" alt="" >
                      </div>
                      <div class="banner-title">
                            <div class="banner-title-main">
                                  <h2>Meet Our Chef</h2>
                            </div>
                      </div>
                </div>
          </div>
    </div><!--banner-end-->

</div>


<!--section1-->
<div class="section1">
     <div class="container">
            <div class="section1-main">
                  <div class="section1-left" (mousemove)="onPerallax($event)" (mouseleave)="onPerallaxOf()" #winChef>
                      <div class="section1-left-img">
                           <img src="./assets/images/temp/image/mainchef.jpg" alt="">
                      </div>
                  </div>

                  <div class="section1-right">
                        <div class="section1-right-info">
                             <h4>35 YEAR OF EXPERIENCE</h4>
                             <img src="./assets/images/brand/svg/separator.svg" alt="">
                             <h2>Award Winning Chef</h2>
                             <p>Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type.</p>
                             <div class="sign-area">
                                  <img src="./assets/images/brand/png/signature-2.png" alt="">
                                  <h4>HENRY - EXCUTIVE CHEF</h4>
                             </div>
                        </div>
                  </div>
            </div>
     </div>
     <div class="section1-shape">
          <img src="./assets/images/brand/png/bg-26.png" alt="">
     </div>
</div>

<!---section2-->
<div class="section2">
      <div class="container">
          <div class="section2-main">
                <div class="section2-des">
                       <p>A modern restaurant with a menu that will make your mouth water.</p>
                </div>
                <div class="section2-sub-title">
                      <h4>HENRY - MASTER CHEF</h4>

                      <div class="sml-box-rotate">
                        <ul>
                              <li><span></span></li>
                              <li><span></span></li>
                              <li><span></span></li>
                        </ul>
                  </div>
                </div>
          </div>
      </div>
</div>



<!---section9-->
<div class="section3">
    <div class="container">
          <div class="section3-title">
                <h4>EXPERIENCED TEAM</h4>
                <img src="./assets/images/brand/svg/separator.svg" alt="">
                <h2>Meet Our Chef</h2>
          </div>
          <!---section3-->
          <div class="section3-main">
                <div class="chef-card">
                      <div class="chef-img">
                            <img src="./assets/images/temp/products/chef/team-1.jpg" alt="">
                            <div class="chef-social">
                                  <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                  </ul>
                            </div>
                      </div>
                      <div class="chef-card-body">
                            <a href="#">Willium Joe</a>
                            <span>MASTER CHEF</span>
                            <p>Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been the
                                  industrys.</p>
                      </div>
                </div>

                <div class="chef-card">
                      <div class="chef-img">
                            <img src="./assets/images/temp/products/chef/team-2.jpg" alt="">
                            <div class="chef-social">
                                  <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                  </ul>
                            </div>
                      </div>
                      <div class="chef-card-body">
                            <a href="#">Steave Den</a>
                            <span>MASTER CHEF</span>
                            <p>Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been the
                                  industrys.</p>
                      </div>
                </div>

                <div class="chef-card">
                      <div class="chef-img">
                            <img src="./assets/images/temp/products/chef/team-3.jpg" alt="">
                            <div class="chef-social">
                                  <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                  </ul>
                            </div>
                      </div>
                      <div class="chef-card-body">
                            <a href="#">Lily Sopy</a>
                            <span>MASTER CHEF</span>
                            <p>Lorem Ipsum is simply dummy printing and typeset industry lorem Ipsum has been the
                                  industrys.</p>
                      </div>
                </div>
          </div>
    </div>
    <div class="section3-shape">
          <img src="./assets/images/brand/png/bg-27.png" alt="">
    </div>
</div><!---section3-end-->