<div class="header-area">
      <div class="header-top">
           <div class="header-top-main">
            <div class="header-top-left">
                <ul>
                   <li><i class="fa fa-map-marker-alt"></i> Restaurant St, Delicious City, London 9578, UK</li>
                   <li><i class="fa fa-clock"></i> Daily : 8.00 am to 10.00 pm</li>
                </ul>
             </div>
             <div class="header-top-right">
                  <ul>
                        <li><a href="tel:+1 123 456 7890"><i class="fa fa-phone-alt" style="transform: rotate(90deg);"></i> +1 123 456 7890</a></li>
                        <li><a href="mailto:booking@restaurant.com"><i class="fa fa-envelope"></i>  booking@restaurant.com</a></li>
                  </ul>
             </div>
           </div>
      </div>

      <div class="header-menu-area" [class]="headerFixed?'header-fixed':'header-fixed-unfixed'">
           <div class="header-menu-main">
                 <div class="logo">
                      <a routerLink="/"><img src="./assets/images/brand/logo/logo.png" alt=""></a>
                 </div>
                 <div class="menu-area">
                        <div class="menu">
                               <ul>
                                   <li><a href="#" class="active">Home</a></li>
                                   <li><a href="#">Menus<i class="fa fa-angle-down"></i></a></li>
                                   <li><a href="#">About Us</a></li>
                                   <li><a href="#">Our Chefs</a></li>
                                   <li><a href="#">Pages<i class="fa fa-angle-down"></i></a></li>
                                   <li><a href="#">Contact</a></li>
                               </ul>
                        </div>

                        <div class="menu-btn">
                              <ul>
                                  <li><button class="btn">Find a Table</button></li>
                                  <li>
                                     <div class="bar">
                                          <span class="line1"></span>
                                          <span class="line2"></span>
                                          <span class="line3"></span>
                                     </div>
                                  </li>
                              </ul>
                        </div>
                 </div>
           </div>
      </div>
</div>
