@import'src/theme/variables';

.banner-section {
    position: relative;
    overflow: hidden;
    -webkit-overflow: hidden;
    -moz-overflow: hidden;
    -o-overflow: hidden;
}

.banner-area {
    width: 100%;
    box-sizing: border-box;
    background-image: url(../../../assets/images/temp/banner/banner-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(1);
    opacity: 1;
    z-index: 10;
    position: relative;
    z-index: 10;
}

.banner-area::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(0 0 0 / 60%);
    z-index: -10;
}

.banner-main {
    display: block;
    text-align: center;
    padding: 300px 15px 150px 15px;
}

.banner-top {
    display: block;
    margin-bottom: 25px;
}


.banner-top h4 {
    font-family: $font-en-secondery1;
    color: $color-primary;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px !important;
}

.banner-top img {
    max-width: 100px;
    width: 100%;
    margin: auto;
}

.banner-title {
    display: block;
    width: 100%;
}

.banner-title h2 {
    color: rgb(255 255 255 / 95%);
    ;
    font-family: $font-en-primary;
    font-weight: 400;
    font-size: 90px;
    text-transform: capitalize;
    line-height: 80px;
    letter-spacing: 2px;
    max-width: 800px;
    width: 100%;
    margin: auto !important;
    margin-bottom: 35px !important;
}




@keyframes rotateAni {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(180deg);
    }
}


@media(max-width:1200px) {
    .banner-main {
        padding: 200px 15px 100px 15px;
    }
}

@media(max-width:1000px) {
    .banner-title h2 {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 25px !important;
    }

    .banner-title p {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 17px !important;
    }


}

@media(max-width:700px) {
    .banner-title h2 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 20px !important;
    }

    .banner-main {
        padding: 150px 15px 90px 15px;
    }

    .banner-top h4 {
        font-size: 12px;
        letter-spacing: 3px;
    }

}

@media(max-width:600px) {
    .banner-title h2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 17px !important;
    }

    .banner-top h4 {
        font-size: 12px;
        letter-spacing: 3px;
    }

    .banner-title p {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px !important;
    }



}

@media(max-width:500px) {
    .banner-title h2 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 15px !important;
    }

    .banner-top {
        margin-bottom: 15px;
    }

    .banner-title p {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 15px !important;
    }

}

/**** section1 ****/
.section1{
    display: block;
    background-color: #171819;
    padding: 90px 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}
.section1-shape1{
    position: absolute;
    top: 60%;
    left: 0px;
    transform: translateY(-60%);
    z-index: -10;
}
.section1-shape1 img{
    max-width: 280px;
    width: auto;
}

.section1-shape2{
    position: absolute;
    top: 120px;
    right: 0px;
    z-index: -10;
}
.section1-shape2 img{
    max-width: 220px;
    width: auto;
}


.section1-title {
    display: block;
    margin-bottom: 60px;
    text-align: center;
}

.section1-title img {
    max-width: 100px;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.main-shape1 {
    position: absolute;
    right: 0px;
    bottom: 30px;
    z-index: -10;
}
.main-shape2 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10;
}

.section1-title h4 {
    font-family: $font-en-secondery1;
    color: $color-primary;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px !important;
}
.section1-title p {
    color: $color-white;
    font-family: $font-en-secondery;
    font-style: normal;
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 0.1px;
    max-width: 900px;
    line-height: 40px;
    width: 100%;
    margin: auto!important;
}

.section1-title p span{
    display: inline-block;
    color: $color-primary;
    font-size: 33px;
    line-height: 40px;
    font-style: normal;
}
.section1-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    grid-template-rows: auto;
    max-width: 1200px;
    width: 100%;
    margin-top: 80px;
}
.section1-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section1-left-top{
    display: block;
    width: 100%;
    height: auto;
}
.section1-left-top p{
    display: block;
    color:$color-white;
    font-family: $font-en-secondery1;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
.section1-left-top-sign{
    display: block;
    margin-top: 30px;
}
.section1-left-top-sign img{
    max-width: 120px;
    width: auto;
    margin-bottom: 15px;
}
.section1-left-top-sign h4{
    font-family: $font-en-secondery1;
    color: $color-primary;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    display: block;
}

.section1-left-bottom{
    margin-top: 40px;
}

.section1-left-bottom{
    position: relative;
}
.section1-left-bottom img{
    min-height: 230px;
}
.play-icon{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 50%);
}
.play-icon span {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    margin: auto !important;
    transition: all 0.2s linear;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 0 10px rgb(255 255 255 / 60%);
    animation: ripple 2s infinite linear;
    margin-top: -1px;
    cursor: pointer;
    margin-left: -1px;
}

.play-icon span::before {
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    border-radius: 50%;
    top: 0px;
    z-index: -10;
    box-shadow: 0 0 0 0 rgb(255 255 255 / 60%);
    animation: ripple 2s infinite linear;
    margin-top: -1px;
    margin-left: -1px;
    animation-delay: 0.6s;

}

.play-icon span::after {
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0px;
    border-radius: 50%;
    top: 0px;
    z-index: -10;
    box-shadow: 0 0 0 0 rgb(255 255 255 / 40%);
    animation: ripple 2s infinite linear;
    animation-delay: 0.4s;
    margin-top: -1px;
    margin-left: -1px;

}

.play-icon span:hover {
    color: $color-primary;
    border-color: $color-primary;
}

@keyframes ripple {
    from {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 40%);
    }

    to {
        box-shadow: 0 0 0 80px rgb(255 255 255 / 0%);
    }
}
.section1-midle{
    display: block;
}
.section1-midle img{
    height: 580px;
}
.section1-right {
    padding: 75px 25px;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #171819;
    position: relative;
}
.section1-right::after{
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 1px solid $color-primary;
    max-width: 92%;
    width: 100%;
    height: 100%;
    position: absolute;
}
.section1-right::before{
    content: "";
    top: 4%;
    left: 0px;
    right: 0px;
    bottom: 4%;
    margin: auto;
    border: 1px solid $color-primary;
    max-height: 94%;
    width: 100%;
    height: 100%;
    position: absolute;
}


.section2-contact-info {
    display: block;
    width: 100%;
}

.contact-title {
    display: block;
    margin-bottom: 35px;
    text-align: center;
}

.contact-title h2 {
    color: $color-white;
    font-family:$font-en-secondery;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    display: block;
    letter-spacing: 3px;
}

.contact-number {
    display: block;
    margin-bottom: 30px;
}

.contact-number h4 {
    color: $color-white;
    font-family: $font-en-secondery1;
    font-weight: 400;
    font-size: 16px;
    display: block;
    line-height: 20px;
    margin-bottom: 10px !important;
}

.contact-number a {
    color: $color-primary;
    font-size: 26px;
    line-height: 30px;
    font-family: $font-en-secondery1;
    font-weight: 500;
    display: block;
    font-style: normal;
}

.contact-other-info {
    display: block;
    margin-bottom: 30px;
}

.contact-other-info:last-child {
    margin: 0px;
}

.contact-other-info h4 {
    color: $color-white;
    font-family: $font-en-secondery1;
    font-weight: 400;
    font-size: 18px;
    display: block;
    line-height: 20px;
    margin-bottom: 14px !important;
}

.contact-other-info p {
    color: $color-one;
    font-size: 15px;
    line-height: 22px;
    font-family: $font-en-secondery1;
    font-style: normal;
    display: block;
    font-weight: 400;
}


.section1-activity-area {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    position: relative;
    z-index: 10;
}


.activity-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.activity-left {
    display: block;
}

.activity-left h3 {
    color: $color-white;
    font-family: $font-en-secondery;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
}

.activity-right {
    display: block;
}

.activity-right h4 {
    color: $color-primary;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 22px;
}

@media(max-width:1300px){
    .section1-shape1,.section1-shape2{
        display: none;
    }
}
@media(max-width:1200px){
    .section1-main{
        grid-gap: 20px;
    }
    .section1-title p{
        font-size: 28px;
        line-height: 37px;
    }
    .section1-title span{
        font-size: 28px;
        line-height: 37px;
    }
}
@media(max-width:1000px){
    .section1-main{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px 25px ;
    }
    .section1-right{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .section1-activity-area{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
    .section1-title p{
        font-size: 25px;
        line-height: 32px;
    }
    .section1-title p span{
        font-size: 25px;
        line-height: 32px;
    }
 
}

@media(max-width:756px){
    .section1-main{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 60px 25px ;
    }
    .section1-title p{
        font-size: 22px;
        line-height: 30px;
    }
    .section1-title p span{
        font-size: 22px;
        line-height: 30px;
    }
}


@media(max-width:600px){
    .section1-activity-area{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }
    .section1-title p{
        font-size: 19px;
        line-height: 26px;
    }
    .section1-title p span{
        font-size: 19px;
        line-height: 26px;
    }
}
@media(max-width:700px){

    .contact-title h2{
        font-size: 40px;
        line-height: 45px;
    }
    .contact-title{
        margin-bottom: 25px;
    }


}