<div class="banner-section">
    <!--banner-start-->
    <div class="banner-area">
        <div class="container">
            <div class="banner-main">
                <div class="banner-top">
                    <h4>OUR STORY</h4>
                    <img src="./assets/images/brand/svg/separator.svg" alt="">
                </div>
                <div class="banner-title">
                    <div class="banner-title-main">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div><!--banner-end-->
</div>

<!---section1-->
<div class="section1">
    <div class="container">
         <!--section1--title-->
        <div class="section1-title">
            <h4>WHO WE ARE</h4>
            <img src="./assets/images/brand/svg/separator.svg" alt="">
            <p>A modern restaurant with a menu that will make your mouth water. Servicing delicious food <span>since 45years</span>. Enjoy our seasonal menu and experience the beauty of naturalness</p>
        </div>
        <!--section1-main-->
        <div class="section1-main">
            <!---section1-left-->
            <div class="section1-left">
                <div class="section1-left-top">
                    <p>Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the
                        industrys standard dummy text ever since the when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book It has survived.</p>
                    <div class="section1-left-top-sign">
                        <img src="./assets/images/brand/png/signature-1.png" alt="">
                        <h4>ANDREW JOE - FOUNDER</h4>
                    </div>
                </div>
                <div class="section1-left-bottom">
                    <img src="./assets/images/temp/image/about-image-1.jpg" alt="">
                    <div class="play-icon">
                        <span><i class="fa fa-play"></i></span>
                    </div>
                </div>
            </div>
            <!---section1-midle-->
            <div class="section1-midle">
                <div class="section1-midle-img">
                    <img src="./assets/images/temp/image/about-image-2.jpg" alt="">
                </div>
            </div>
            <!---section1-right-->
            <div class="section1-right">
                <div class="section1-contact-info">
                    <div class="contact-title">
                        <h2> New York</h2>
                    </div>
                    <div class="contact-other-info">
                        <h4>Contact Us</h4>
                        <p>Restaurant St, Delicious City, 
                            London 9578, UK
                            
                            Call : +88-123-123456
                            
                            Email : booking@domainname.com
                        </p>
                    </div>
                    <div class="contact-other-info">
                        <h4>Lunch Time</h4>
                        <p>Monday to Sunday  11.00 am - 2.30pm</p>
                    </div>
                    <div class="contact-other-info">
                        <h4>Dinner Time</h4>
                        <p>Monday to Sunday  05.00 pm - 10.00pm</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="section1-activity-area">
            <div class="activity-card">
                  <div class="activity-left">
                        <h3>150+</h3>
                  </div>
                  <div class="activity-right">
                        <h4>DAILY ORDER</h4>
                  </div>
            </div>
            <div class="activity-card">
                  <div class="activity-left">
                        <h3>182+</h3>
                  </div>
                  <div class="activity-right">
                        <h4>SPECIAL  DISHES</h4>
                  </div>
            </div>

            <div class="activity-card">
                  <div class="activity-left">
                        <h3>35+</h3>
                  </div>
                  <div class="activity-right">
                        <h4>EXPERT  CHEF</h4>
                  </div>
            </div>

            <div class="activity-card">
                  <div class="activity-left">
                        <h3>10+</h3>
                  </div>
                  <div class="activity-right">
                        <h4>AWARDS  WON</h4>
                  </div>
            </div>

      </div>
    </div>

    <!---section1-shape-->
    <div class="section1-shape1">
         <img src="./assets/images/brand/png/bg-10.png" alt="">
    </div>
    <div class="section1-shape2">
        <img src="./assets/images/brand/png/bg-11.png" alt="">
   </div>
</div>