<div class="banner-section">
    <!--banner-start-->
    <div class="banner-area">
        <div class="container">
            <div class="banner-main">
                <div class="banner-top">
                    <h4>OUR STORY</h4>
                    <img src="./assets/images/brand/svg/separator.svg" alt="">
                </div>
                <div class="banner-title">
                    <div class="banner-title-main">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div><!--banner-end-->
</div>