<div class="loader-area" *ngIf="this.ngxLoader.loader == true">
    <div class="loader-main">
        <div class="loader-circle">
            <span class="rotate-circle"></span>
        </div>
        <div class="loader-text-ani">
            <span data-text="D" >D</span>
            <span data-text="E" >E</span>
            <span data-text="L" >L</span>
            <span data-text="I" >I</span>
            <span data-text="C" >C</span>
            <span data-text="I" >I</span>
        </div>
    </div>
</div>